.block-04 {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 60px;
  background-color: #f5f5f5;
  .line-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 24px;
    width: 100%;
    > picture {
      display: none;
    }
  }
  .block__items {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    gap: 40px;
    width: 100%;
    max-width: calc(50% - 12px);
    .block__item {
      position: relative;
      display: block;
      width: 100%;
      padding: 24px 16px 24px 50px;
      background-color: $white;
      border-radius: 8px;
      &::before {
        content: attr(data-number);
        position: absolute;
        left: 16px;
        top: 22px;
        display: block;
        font-family: $inter;
        font-weight: 600;
        font-size: 18px;
        color: $text;
      }
      .descr {
        font-weight: 500;
        font-family: $inter;
      }
      &.accent-bg {
        color: $white;
        &:before {
          color: $white;
        }
      }
    }
    .block__items-image {
      display: block;
      width: 100%;
      height: inherit;
      max-height: 334px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .block-04 .line-wrap {
    gap: 16px;
  }
  .block-04 .line-wrap > picture {
    display: block;
    width: 100%;
  }
  .block-04 .line-wrap .block-image {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
  }
  .block-04 .block__items .block__items-image {
    display: none;
  }
  .block-04 .block__items {
    gap: 16px;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-04 {
    padding-bottom: 24px;
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
