.block-03 {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 40px;
  background-color: #f5f5f5;
  .bricks-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    gap: 24px;
    width: 100%;
    min-height: 195px;
    background-color: $white;
    border-radius: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    .bricks__image {
      display: block;
      width: 100%;
      max-width: 636px;
      height: inherit;
      object-fit: cover;
    }
    .bricks__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      width: 100%;
      max-width: calc(100% - 661px);
      padding-block: 46px;
      padding-right: 80px;
      .bricks__content-icon {
        display: block;
        width: 100px;
        height: 100px;
        object-fit: contain;
      }
      .descr {
        max-width: calc(100% - 125px);
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1480px) {
  .block-03 .bricks-wrapper .bricks__image {
    max-width: 50%;
  }
  .block-03 .bricks-wrapper .bricks__content {
    max-width: calc(50% - 25px);
  }
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
  .block-03 .bricks-wrapper .bricks__image {
    display: none;
  }
  .block-03 .bricks-wrapper .bricks__content {
    max-width: 100%;
    padding-left: 80px;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-03 .bricks-wrapper {
    min-height: auto;
  }
  .block-03 .bricks-wrapper .bricks__content {
    padding: 16px 20px;
  }
  .block-03 .bricks-wrapper .bricks__content .descr {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .block-03 .bricks-wrapper .bricks__content {
    padding-inline: 16px;
  }
  .block-03 .bricks-wrapper .bricks__content .descr {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
}
