.block-05 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 60px;
  background-color: $white;
  .line-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }
  .block__content {
    display: block;
    width: calc(100% - 620px);
    max-width: 636px;
    .h2 {
      margin-bottom: 16px;
    }
    .descr {
      margin-bottom: 40px;
    }
  }
  .block__master {
    position: relative;
    display: block;
    width: 100%;
    max-width: 524px;
    .block__master-image {
      position: relative;
      display: block;
      width: 100%;
      height: inherit;
      object-fit: contain;
      z-index: 4;
    }
    .block__master-about {
      position: absolute;
      right: 0;
      bottom: 22px;
      display: block;
      width: 100%;
      max-width: 200px;
      z-index: 8;
      .descr.accent-color {
        margin-bottom: 4px;
      }
    }
  }
}

@media (max-width: 1680px) {
}
@media (max-width: 1366px) {
}
@media (max-width: 1199px) {
  .block-05 .block__content {
    width: calc(100% - 520px);
  }
  .block-05 .block__master {
    max-width: 470px;
  }
}
@media (max-width: 991px) {
  .block-05 .block__content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .block-05 .block__content .h2 br {
    display: none;
  }
  .block-05 .wpcf7 {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .block-05 .block__master {
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
  .block-05 {
    padding-block: 40px;
    overflow: hidden;
  }
  .block-05 .block__content {
    margin-bottom: 24px;
  }
  .block-05 .block__master .block__master-image {
    position: relative;
    left: 42%;
    width: 470px;
    max-width: none;
    transform: translateX(-50%);
  }
}
@media (max-width: 460px) {
}
@media (max-width: 400px) {
}
