.container {
  display: block;
  width: 100%;
  max-width: 1320px;
  margin-inline: auto;
  padding-inline: 10px;
}
@media (max-width: 1440px) {
  .container {
    max-width: 1100px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 600px;
  }
}

.h2 {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 52px;
  line-height: 1.1;
  color: #28211f;
}

.descr {
  display: block;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.2;
  color: #28211f;
}

.btn {
  display: block;
  width: 100%;
  padding: 16px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color: var(--accent-color);
  border: none;
  border-radius: 40px;
  transition: all 0.3s ease;
}
.btn.btn-full {
  max-width: 360px;
  color: #ffffff;
  background-color: var(--accent-color);
}
.btn.btn-full span {
  display: block;
  width: 100%;
  max-width: calc(100% - 65px);
}
.btn.btn-transparent {
  padding: 20px 40px;
  font-weight: 500;
  text-transform: capitalize;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.btn.btn-icon-timer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.btn.btn-icon-timer:before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background: url("../img/icons/icon-timer.svg") center/contain no-repeat;
}

a.btn {
  text-align: center;
}

.blockquote {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px 16px;
  border-left: 2px solid var(--accent-color);
}
.blockquote .blockquote__label {
  display: block;
  width: 100%;
  max-width: 470px;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-color);
}
.blockquote .blockquote__descr {
  display: block;
  width: 100%;
  max-width: 470px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #28211f;
}
.blockquote .blockquote__img {
  position: absolute;
  top: 0;
  left: 510px;
  display: block;
  width: 162px;
  height: 93px;
  object-fit: contain;
}

.accent-color {
  color: var(--accent-color) !important;
}

.accent-bg {
  background-color: var(--accent-color) !important;
}

.bold {
  font-weight: bold !important;
}

.uppercase {
  text-transform: uppercase !important;
}

@media (max-width: 768px) {
  .h2 {
    font-size: 46px;
  }
}
@media (max-width: 576px) {
  .h2 {
    font-size: 40px;
  }
  .descr {
    font-size: 16px;
  }
}
@media (max-width: 460px) {
  .h2 {
    font-size: 36px;
  }
}
@media (max-width: 400px) {
  .h2 {
    font-size: 32px;
  }
}
.block-01 {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 60px;
}
.block-01 .line-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
}
.block-01 .block__content {
  display: block;
  width: calc(100% - 465px);
  max-width: 50%;
}
.block-01 .block__content .h2 {
  margin-bottom: 16px;
}
.block-01 .block__content .descr .accent-color {
  font-weight: bold;
}
.block-01 .block__image {
  position: relative;
  display: block;
  width: 100%;
  max-width: 440px;
}
.block-01 .block__image .block__image-img {
  position: relative;
  display: block;
  max-width: 100%;
  height: inherit;
  margin: 0 0 0 auto;
  border-radius: 8px;
  z-index: 4;
}
.block-01 .block__image .btn {
  position: absolute;
  right: 80px;
  bottom: 22px;
  z-index: 8;
}

@media (max-width: 991px) {
  .block-01 .line-wrap {
    justify-content: center;
  }
  .block-01 .block__content {
    width: 100%;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .block-01 {
    padding-bottom: 40px;
  }
  .block-01 .block__image .btn {
    right: 22px;
  }
}
@media (max-width: 460px) {
  .block-01 .block__content .h2 {
    margin-bottom: 8px;
  }
}
@media (max-width: 400px) {
  .block-01 .block__image .block__image-img {
    max-width: calc(100% - 20px);
  }
  .block-01 .block__image .btn {
    right: 0;
  }
}
.block-02 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 60px 40px;
  background-color: #f5f5f5;
}
.block-02 .h2,
.block-02 .descr:not(.accent-color) {
  margin-bottom: 16px;
}
.block-02 .blockquote {
  margin-block: 40px;
}
.block-02 .block__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.block-02 .block__items .block__item {
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(40, 33, 31, 0.1);
  border-radius: 8px;
}
.block-02 .block__items .block__item-img {
  display: block;
  width: 100%;
  height: inherit;
  margin-bottom: 20px;
  object-fit: cover;
  border-radius: 8px;
}
.block-02 .block__items .block__item-label {
  display: block;
  width: 100%;
  min-height: 44px;
  margin-bottom: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  color: var(--accent-color);
}
.block-02 .block__items .descr {
  display: block;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #28211f;
}

@media (max-width: 768px) {
  .block-02 .block__items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 14px;
  }
  .blockquote picture {
    display: none;
  }
}
@media (max-width: 576px) {
  .block-02 {
    padding-block: 24px;
  }
}
@media (max-width: 480px) {
  .block-02 .block__items {
    grid-template-columns: 1fr;
  }
  .block-02 .block__items .block__item-label {
    min-height: auto;
  }
  .block-02 .h2 br {
    display: none;
  }
  .block-02 .h2,
  .block-02 .descr:not(.accent-color) {
    margin-bottom: 8px;
  }
  .block-02 .blockquote {
    margin-block: 24px;
  }
}
.block-03 {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.block-03 .bricks-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  gap: 24px;
  width: 100%;
  min-height: 195px;
  background-color: #ffffff;
  border-radius: 40px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
}
.block-03 .bricks-wrapper .bricks__image {
  display: block;
  width: 100%;
  max-width: 636px;
  height: inherit;
  object-fit: cover;
}
.block-03 .bricks-wrapper .bricks__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  width: 100%;
  max-width: calc(100% - 661px);
  padding-block: 46px;
  padding-right: 80px;
}
.block-03 .bricks-wrapper .bricks__content .bricks__content-icon {
  display: block;
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.block-03 .bricks-wrapper .bricks__content .descr {
  max-width: calc(100% - 125px);
}

@media (max-width: 1480px) {
  .block-03 .bricks-wrapper .bricks__image {
    max-width: 50%;
  }
  .block-03 .bricks-wrapper .bricks__content {
    max-width: calc(50% - 25px);
  }
}
@media (max-width: 991px) {
  .block-03 .bricks-wrapper .bricks__image {
    display: none;
  }
  .block-03 .bricks-wrapper .bricks__content {
    max-width: 100%;
    padding-left: 80px;
  }
}
@media (max-width: 576px) {
  .block-03 .bricks-wrapper {
    min-height: auto;
  }
  .block-03 .bricks-wrapper .bricks__content {
    padding: 16px 20px;
  }
  .block-03 .bricks-wrapper .bricks__content .descr {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .block-03 .bricks-wrapper .bricks__content {
    padding-inline: 16px;
  }
  .block-03 .bricks-wrapper .bricks__content .descr {
    font-size: 14px;
  }
}
.block-04 {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 60px;
  background-color: #f5f5f5;
}
.block-04 .line-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 24px;
  width: 100%;
}
.block-04 .line-wrap > picture {
  display: none;
}
.block-04 .block__items {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  gap: 40px;
  width: 100%;
  max-width: calc(50% - 12px);
}
.block-04 .block__items .block__item {
  position: relative;
  display: block;
  width: 100%;
  padding: 24px 16px 24px 50px;
  background-color: #ffffff;
  border-radius: 8px;
}
.block-04 .block__items .block__item::before {
  content: attr(data-number);
  position: absolute;
  left: 16px;
  top: 22px;
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #28211f;
}
.block-04 .block__items .block__item .descr {
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.block-04 .block__items .block__item.accent-bg {
  color: #ffffff;
}
.block-04 .block__items .block__item.accent-bg:before {
  color: #ffffff;
}
.block-04 .block__items .block__items-image {
  display: block;
  width: 100%;
  height: inherit;
  max-height: 334px;
  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 991px) {
  .block-04 .line-wrap {
    gap: 16px;
  }
  .block-04 .line-wrap > picture {
    display: block;
    width: 100%;
  }
  .block-04 .line-wrap .block-image {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    border-radius: 8px;
  }
  .block-04 .block__items .block__items-image {
    display: none;
  }
  .block-04 .block__items {
    gap: 16px;
    max-width: 100%;
  }
}
@media (max-width: 576px) {
  .block-04 {
    padding-bottom: 24px;
  }
}
.block-05 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 60px;
  background-color: #ffffff;
}
.block-05 .line-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
.block-05 .block__content {
  display: block;
  width: calc(100% - 620px);
  max-width: 636px;
}
.block-05 .block__content .h2 {
  margin-bottom: 16px;
}
.block-05 .block__content .descr {
  margin-bottom: 40px;
}
.block-05 .block__master {
  position: relative;
  display: block;
  width: 100%;
  max-width: 524px;
}
.block-05 .block__master .block__master-image {
  position: relative;
  display: block;
  width: 100%;
  height: inherit;
  object-fit: contain;
  z-index: 4;
}
.block-05 .block__master .block__master-about {
  position: absolute;
  right: 0;
  bottom: 22px;
  display: block;
  width: 100%;
  max-width: 200px;
  z-index: 8;
}
.block-05 .block__master .block__master-about .descr.accent-color {
  margin-bottom: 4px;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-form-control-wrap input {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 17px 24px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: rgb(40, 33, 31);
  border: 1px solid rgba(40, 33, 31, 0.1);
  border-radius: 60px;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-form-control-wrap input::placeholder {
  color: rgba(40, 33, 31, 0.6);
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-form-control-wrap input:focus, .block-05 .wpcf7 .wpcf7-form .wpcf7-form-control-wrap input:focus-visible {
  border: 1px solid rgb(40, 33, 31) !important;
}
.block-05 .wpcf7 .wpcf7-form input[type=submit] {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
  background-color: var(--accent-color);
  border: none;
  border-radius: 60px;
}
.block-05 .wpcf7 .wpcf7-form input[type=submit]:disabled {
  background-color: gray;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-spinner {
  display: none;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-list-item label {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 415px;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-list-item label input[type=checkbox] {
  appearance: none;
  display: none;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-list-item label input[type=checkbox]:checked ~ .wpcf7-list-item-label:after {
  opacity: 1;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-list-item label .wpcf7-list-item-label {
  position: relative;
  display: block;
  width: 100%;
  padding-left: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #28211f;
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-list-item label .wpcf7-list-item-label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #28211f;
  transform: translateY(-50%);
}
.block-05 .wpcf7 .wpcf7-form .wpcf7-list-item label .wpcf7-list-item-label:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  display: block;
  width: 14px;
  height: 10px;
  background: url("../img/icons/icon-checkbox-black.svg") center/contain no-repeat;
  transform: translateY(-50%);
  opacity: 0;
}
.block-05 .wpcf7 .wpcf7-form > *:not(:last-child) {
  margin-bottom: 24px;
}
.block-05 .wpcf7 form.invalid .wpcf7-response-output,
.block-05 .wpcf7 form.unaccepted .wpcf7-response-output,
.block-05 .wpcf7 form.payment-required .wpcf7-response-output {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: none;
  border: 2px solid var(--accent-color) !important;
}

@media (max-width: 1199px) {
  .block-05 .block__content {
    width: calc(100% - 520px);
  }
  .block-05 .block__master {
    max-width: 470px;
  }
}
@media (max-width: 991px) {
  .block-05 .block__content {
    width: 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  .block-05 .block__content .h2 br {
    display: none;
  }
  .block-05 .wpcf7 {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .block-05 .block__master {
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .block-05 {
    padding-block: 40px;
    overflow: hidden;
  }
  .block-05 .block__content {
    margin-bottom: 24px;
  }
  .block-05 .block__master .block__master-image {
    position: relative;
    left: 42%;
    width: 470px;
    max-width: none;
    transform: translateX(-50%);
  }
}
.block-06 {
  position: relative;
  display: block;
  width: 100%;
  padding-block: 60px;
  background: #f5f5f5 url("../img/block-06/bg-1920.jpg") center/cover no-repeat;
}
.block-06 .h2 {
  margin-bottom: 40px;
}
.block-06 .block__items {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 40px;
}
.block-06 .block__items:before {
  content: "";
  position: absolute;
  top: 48px;
  left: 50%;
  width: 2px;
  height: calc(100% - 96px);
  background-color: var(--accent-color);
  transform: translateX(-50%);
  z-index: 4;
}
.block-06 .block__items .block__item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  z-index: 8;
}
.block-06 .block__items .block__item .block__item-empty,
.block-06 .block__items .block__item .block__item-content {
  display: block;
  width: 100%;
  max-width: 603px;
}
.block-06 .block__items .block__item .block__item-empty {
  order: 3;
}
.block-06 .block__items .block__item .block__item-num {
  order: 2;
  display: block;
  width: 40px;
  height: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  color: var(--accent-color);
  background-color: #ffffff;
  border-radius: 80px;
}
.block-06 .block__items .block__item .block__item-content {
  order: 1;
  padding: 16px;
  background-color: #ffffff;
  border: 1px solid rgba(40, 33, 31, 0.1);
  border-radius: 8px;
}
.block-06 .block__items .block__item .block__item-content .descr.accent-color {
  margin-bottom: 8px;
}
.block-06 .block__items .block__item:nth-child(odd) .block__item-empty {
  order: 1;
}
.block-06 .block__items .block__item:nth-child(odd) .block__item-num {
  order: 2;
}
.block-06 .block__items .block__item:nth-child(odd) .block__item-content {
  order: 3;
}
.block-06 .block__items .block__item:not(:last-child) {
  margin-bottom: 40px;
}
.block-06 .block__bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
  width: 100%;
  padding: 60px 160px;
  background-color: var(--accent-color);
  border-radius: 40px;
}
.block-06 .block__bottom .block__bottom-image {
  display: block;
  width: 152px;
  height: inherit;
  object-fit: contain;
}
.block-06 .block__bottom .block__bottom-content {
  display: block;
  width: 100%;
  max-width: calc(100% - 180px);
}
.block-06 .block__bottom .block__bottom-content .descr {
  margin-bottom: 24px;
  color: #ffffff;
}
.block-06 .block__bottom .block__bottom-content .btn {
  max-width: max-content;
}

@media (max-width: 1440px) {
  .block-06 .block__items .block__item .block__item-empty,
  .block-06 .block__items .block__item .block__item-content {
    max-width: 490px;
  }
}
@media (max-width: 1199px) {
  .block-06 .block__items .block__item .block__item-empty,
  .block-06 .block__items .block__item .block__item-content {
    max-width: calc(50% - 46px);
  }
  .block-06 .block__bottom {
    padding-inline: 70px;
  }
}
@media (max-width: 991px) {
  .block-06 {
    background: #f5f5f5;
  }
  .block-06 .block__items:before {
    left: 20px;
    transform: translateX(0);
  }
  .block-06 .block__items .block__item:not(:last-child) {
    margin-bottom: 16px;
  }
  .block-06 .block__items .block__item .block__item-empty {
    display: none;
  }
  .block-06 .block__items .block__item .block__item-content {
    order: 3;
    max-width: calc(100% - 65px);
  }
  .block-06 .block__bottom {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .block-06 .h2 {
    margin-bottom: 24px;
  }
  .block-06 .block__bottom .block__bottom-image,
  .block-06 .block__bottom .block__bottom-content .btn {
    margin: 0 auto;
  }
  .block-06 .block__bottom .block__bottom-content {
    max-width: 100%;
  }
  .block-06 .block__items .block__item .block__item-num {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.06);
  }
  .block-06 .block__items .block__item .block__item-content .descr:not(.accent-color) {
    font-size: 16px;
  }
  .block-06 .block__bottom .block__bottom-content .descr {
    font-size: 16px;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .block-06 {
    padding-block: 24px;
  }
  .block-06 .block__items {
    margin-bottom: 24px;
  }
}
@media (max-width: 460px) {
  .block-06 .block__items:before {
    top: 56px;
    height: calc(100% - 114px);
  }
  .block-06 .block__items .block__item {
    gap: 8px;
  }
  .block-06 .block__items .block__item .block__item-content {
    max-width: calc(100% - 50px);
  }
}
@media (hover: hover) and (pointer: fine) {
  .btn.btn-full:hover {
    background-color: var(--accent-color-light);
  }
}/*# sourceMappingURL=app.css.map */